
@{
    ViewBag.Title = "Publisher Control Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ControlPanelBody">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="CPHeader"> Control Panel</h1>
            </div>
        </div>
        <div class="row CPIcons text-center">
            <div class="col-md-6">
                <div class="CPItemIcon">
                    <i class="fas fa-book"></i>
                </div>

                <div class="CPItemLink">
                    <h4>Books</h4>
                </div>

            </div>

            <div class="col-md-6">
                <div class="CPItemIcon">
                    <i class="fas fa-question-circle"></i>
                </div>

                <div class="CPItemLink">
                    <h4>Request From Admin</h4>
                </div>

            </div>
        </div>
    </div>
</div>