body {
}


/*Control panel styles*/

.ControlPanelBody{
    margin:4rem;
}
.CPItemIcon {
    font-size: 10rem;
}
.CPHeader{
    width:100%;
    text-align:center;
}

.IndexImage {
    width: 150px;
    height: 100px;
}

.DetailsImage{
    width:300px;
    height:200px;
}

a{
    text-decoration:none;
    color:black;    
}

a:hover{
    text-decoration:none;
}

.AdminPanel{
    box-shadow:1px 1px 20px black;
    margin-top:5rem;
    padding:5rem;
}